<%= form_with(model: vendedor) do |form| %>
  <% if vendedor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vendedor.errors.count, "error") %> prohibited this vendedor from being saved:</h2>

      <ul>
        <% vendedor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :mail, style: "display: block", class: "form-label" %>
    <%= form.text_field :mail, class: "form-control" %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>


    <div>
    <%= form.label :oficina_id, style: "display: block", :class => "form-label" %>
      <%= form.collection_select :office_id, Office.all.order(name: :asc), :id, :name,  { prompt: "Seleccione Oficina" }, { class: "form-control mb-2 mr-sm-2" }
      %>
    </div>


    <div>
    <%= form.label :manager_id, style: "display: block", :class => "form-label" %>
    <%= form.collection_select :manager_id, Manager.all.order(name: :asc), :id, :name, { prompt: "Seleccione Administrador" }, { class: "form-control mb-2 mr-sm-2" } %>
  </div>




  <hr>
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
