<div id="<%= dom_id vendedor %>">
  <p>
    <strong>Name:</strong>
    <%= vendedor.name %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= vendedor.mail %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= vendedor.amount %>
  </p>

    <p>
    <strong>Office:</strong>
      <%= vendedor.office.name %>
    </p>

    <p>
    <strong>Administrador:</strong>
      <%= vendedor.manager.name %>
  </p>

</div>
